In [ ]:
import pickle
import pandas as pd
import numpy as np

from google.colab import drive
drive.mount('/content/mnt')

Drive already mounted at /content/mnt; to attempt to forcibly remount, call drive.mount("/content/mnt", force_remount=True).

# Dense Data Formatting

In [ ]:
target = '2008-08'
DATAPATH = '/content/mnt/Shareddrives/247 Project/data'
PKL_FILEPATH = DATAPATH + '/{}_densed.pkl'.format(target)
DENSE_ALL_FILEPATH = DATAPATH + '/gcn_formatted_all_dense_{}.txt'.format(target)
DENSE_TRAIN_FILEPATH = DATAPATH + '/gcn_formatted_train_dense_{}.txt'.format(target)
DENSE_TEST_FILEPATH = DATAPATH + '/gcn_formatted_test_dense_{}.txt'.format(target)

In [ ]:
### dense data formatting
with open(PKL_FILEPATH, 'rb') as f:
  data = pickle.load(f)

data

,Q,skimed_pl
0,1 0 0 direct rendering yes single head configu...,"[code.google.com, abclinuxu.cz, boxee.tv]"
1,1 000 000 against the new facebook layout peti...,"[accelerateresults.com, www.buildingtheadaptiv..."
2,1 200 more employees right now than they need ...,"[commercialappeal.com, urbanplanet.org, nissan..."
3,1 200 more employees right now than they need ...,"[commercialappeal.com, nissannews.com, nashvil..."
4,1 200 more employees right now than they need ...,"[commercialappeal.com, nissannews.com, nashvil..."
...,...,...
7645,zunehmende spaltung zwischen arm und reich pol...,"[linkarena.com, yahoo.com, oneview.de, stern.d..."
7646,zur abgrenzung der festlandsockel in der arktis,"[sueddeutsche.de, bundestag.de, blog.de]"
7647,zwei superstars ganz pers nlich ganz pers nlic...,"[bigpoint.focus.de, partnersuche.focus.de, wei..."
7648,zwischen pest und cholera sonst werden wir sch...,"[fidelity.de, net-news-global.de, v.ppms.popul..."
7649,zyski si prywatyzuje a straty nacjonalizuje,"[gospodarka.gazeta.pl, wyborcza.pl, tematy-gos..."

In [ ]:
link_dict = {}
index_counter = 0

# link_dict

for l in data['skimed_pl']:
  for l2 in l:
    if l2 not in link_dict:
      link_dict[l2] = index_counter
      index_counter += 1

In [ ]:
print(len([l2 for l in data['skimed_pl'] for l2 in l]))  # unique links
print(len(link_dict))

39881
5405

In [ ]:
# array of how many times links are used
num_links = [0] * len(link_dict)

for l in data['skimed_pl']:
  for l2 in l:
    num_links[link_dict[l2]] += 1

# num_links
data

,Q,skimed_pl
0,1 0 0 direct rendering yes single head configu...,"[code.google.com, abclinuxu.cz, boxee.tv]"
1,1 000 000 against the new facebook layout peti...,"[accelerateresults.com, www.buildingtheadaptiv..."
2,1 200 more employees right now than they need ...,"[commercialappeal.com, urbanplanet.org, nissan..."
3,1 200 more employees right now than they need ...,"[commercialappeal.com, nissannews.com, nashvil..."
4,1 200 more employees right now than they need ...,"[commercialappeal.com, nissannews.com, nashvil..."
...,...,...
7645,zunehmende spaltung zwischen arm und reich pol...,"[linkarena.com, yahoo.com, oneview.de, stern.d..."
7646,zur abgrenzung der festlandsockel in der arktis,"[sueddeutsche.de, bundestag.de, blog.de]"
7647,zwei superstars ganz pers nlich ganz pers nlic...,"[bigpoint.focus.de, partnersuche.focus.de, wei..."
7648,zwischen pest und cholera sonst werden wir sch...,"[fidelity.de, net-news-global.de, v.ppms.popul..."
7649,zyski si prywatyzuje a straty nacjonalizuje,"[gospodarka.gazeta.pl, wyborcza.pl, tematy-gos..."

## All data

In [ ]:
# write lines to txt file
all_data = pd.DataFrame()
line_counter = 0
with open(DENSE_ALL_FILEPATH, 'w') as train_doc:
  for index, info in data.iterrows():
    textLine = ""
    # append Q_ID as row ID --> this is the 'user id' for LightGCN
    textLine += str(index)
    L_ids = info.get('skimed_pl')
    # lookup IDs in dictionary
    L_id_nums = []
    if not np.any(pd.isnull(L_ids)):
      L_id_nums = [link_dict[l] for l in L_ids]
    # textLine += ' '
    L_id_string = ' '.join([str(i) for i in L_id_nums])
    if L_id_string:
      textLine += ' ' + L_id_string
    textLine += '\n'
    train_doc.write(textLine)
    # textLine
    row = pd.DataFrame([index, L_id_nums])
    all_data = pd.concat([all_data, row], axis=1)
    line_counter += 1
    # naive implementation for test dataset
    # if line_counter % 10 == 0:
    #   with open(DATAPATH + '/gcn_formatted_test_dense.txt', 'a+') as test_doc:
    #     test_doc.write(textLine)

all_data = all_data.transpose()
print("Wrote ", line_counter, " lines to ", DENSE_ALL_FILEPATH)
# print("Wrote ", line_counter / 10, " lines to gcn_formatted_test_dense.txt")

all_data

Wrote  7650  lines to  /content/mnt/Shareddrives/247 Project/data/2008-08_to_10/gcn_formatted_all_dense_2008-08_to_10.txt

       0                               1
0      0                       [0, 1, 2]
0      1                    [3, 4, 5, 6]
0      2                   [7, 8, 9, 10]
0      3                      [7, 9, 10]
0      4                      [7, 9, 10]
..   ...                             ...
0   7645  [799, 800, 801, 803, 804, 805]
0   7646                 [43, 880, 3549]
0   7647         [1425, 782, 1428, 1427]
0   7648              [2386, 2175, 2387]
0   7649               [2318, 712, 2319]

[7650 rows x 2 columns]

In [ ]:
# write file of ID --> domain name mapping
import json 

with open(DATAPATH+'/index_links_dense_{}.txt'.format(target), 'w') as index_doc:
  index_doc.write(json.dumps(link_dict))

In [ ]:
# all_data = pd.read_csv(DATAPATH+'/gcn_formatted_train_dense.txt', header=None)
all_meme_ids = pd.DataFrame(data.index)

all_links = pd.DataFrame(data['skimed_pl'])
print(all_meme_ids.shape)
print(all_links)

(7650, 1)
                                              skimed_pl
0             [code.google.com, abclinuxu.cz, boxee.tv]
1     [accelerateresults.com, www.buildingtheadaptiv...
2     [commercialappeal.com, urbanplanet.org, nissan...
3     [commercialappeal.com, nissannews.com, nashvil...
4     [commercialappeal.com, nissannews.com, nashvil...
...                                                 ...
7645  [linkarena.com, yahoo.com, oneview.de, stern.d...
7646           [sueddeutsche.de, bundestag.de, blog.de]
7647  [bigpoint.focus.de, partnersuche.focus.de, wei...
7648  [fidelity.de, net-news-global.de, v.ppms.popul...
7649  [gospodarka.gazeta.pl, wyborcza.pl, tematy-gos...

[7650 rows x 1 columns]

## Test data

In [ ]:
# train / test data split
# logic: pick random proportion of all data as test data, pick random proportion of links to use as test data
# keep test data meme and rest of links in train
np.random.seed(0)
test_data_proportion = .15
test_data_amount = int(len(all_meme_ids) * test_data_proportion)
test_data_indices = np.random.choice(all_meme_ids[0], size=test_data_amount, replace=False)
test_data_indices = np.sort(test_data_indices)

print("Test data size: ", test_data_amount)
print("Indices: ", test_data_indices)

Test data size:  1147
Indices:  [  14   29   31 ... 7629 7631 7646]

In [ ]:
test_df = pd.DataFrame()
for i in test_data_indices:
  links = all_links['skimed_pl'][i]
  n_links = len(links)
  test_links = np.random.choice(links, size = (n_links // 3), replace=False)
  row = pd.DataFrame([i, test_links])
  test_df = pd.concat([test_df, row], axis=1)

test_df = test_df.transpose()
test_df.columns = ['id', 'links']
test_df

      id                                              links
0     14                                          [vh1.com]
0     29               [economist.com, osce.org, rferl.org]
0     31                           [baseball-reference.com]
0     33                             [i205.photobucket.com]
0     38  [associatedcontent.com, reddit.com, del.icio.u...
..   ...                                                ...
0   7619  [bbc.co.uk, amazon.com, ezinearticles.com, kqz...
0   7622                               [www.golivewire.com]
0   7629                                        [redlog.pl]
0   7631                                        [redlog.pl]
0   7646                                  [sueddeutsche.de]

[1147 rows x 2 columns]

In [ ]:
line_counter = 0
test_data_df = pd.DataFrame()
with open(DENSE_TEST_FILEPATH, 'w') as test_doc:
  for index, info in test_df.iterrows():
    textLine = ""
    # append Q_ID as row ID --> this is the 'user id' for LightGCN
    textLine += str(info.get('id'))
    L_ids = info.get('links')
    # lookup IDs in dictionary
    L_id_nums = []
    if not np.any(pd.isnull(L_ids)):
      L_id_nums = [link_dict[l] for l in L_ids]
    # textLine += ' '
    L_id_string = ' '.join([str(i) for i in L_id_nums])
    if L_id_string:
      textLine += ' ' + L_id_string
    textLine += '\n'
    test_doc.write(textLine)
    # textLine
    line_counter += 1
    row = pd.DataFrame([info.get('id'), L_id_nums])
    test_data_df = pd.concat([test_data_df, row], axis=1)


print("Wrote ", line_counter, " lines to ", DENSE_TEST_FILEPATH)
test_data_df = test_data_df.transpose()
test_data_df
# print("Wrote ", line_counter / 10, " lines to gcn_formatted_test_dense.tx

Wrote  1147  lines to  /content/mnt/Shareddrives/247 Project/data/2008-08_to_10/gcn_formatted_test_dense_2008-08_to_10.txt

       0                          1
0     14                       [38]
0     29               [82, 88, 87]
0     31                       [96]
0     33                      [103]
0     38  [131, 132, 126, 124, 138]
..   ...                        ...
0   7619       [988, 167, 629, 187]
0   7622                     [2206]
0   7629                     [3199]
0   7631                     [3199]
0   7646                       [43]

[1147 rows x 2 columns]

## Train data

In [ ]:
# cross check with rest of data, and remove the links that have been used for test data

all_data.columns = ['id', 'links']

_, links = test_data_df.items()
_, link_arr = links

train_data_edited = pd.DataFrame()

for _, r in test_data_df.iterrows():
  # 0 -- index, 1 -- link array
  test_links = r[1]
  row_to_edit = all_data[(all_data['id'] == r[0])]
  all_links = row_to_edit['links'][0]
  train_links = np.setdiff1d(all_links, test_links)
#   train_links = all_links[::]
#   for test_link in test_links:
#       train_links.remove(test_link)
  
#   print("all links:   " + str(all_links))
#   print("test links:  " + str(test_links))
#   print("train links: " + str(train_links))

  if (len(train_links) == 0):
    print("INSIDE IF STATEMENT")
    train_links = test_links
    test_links = []

  train_row = pd.DataFrame([r[0], train_links])
  train_data_edited = pd.concat([train_data_edited, train_row], axis=1)

train_data_edited = train_data_edited.transpose()
train_data_edited.columns = ['id', 'links']
train_data_edited = train_data_edited.set_index('id')
print(train_data_edited)

                                                  links
id
14                                             [37, 39]
29                             [81, 83, 84, 85, 86, 89]
31                                             [94, 95]
33                                           [104, 105]
38    [123, 125, 127, 128, 129, 130, 133, 134, 135, ...
...                                                 ...
7619   [126, 129, 188, 278, 495, 710, 1048, 3176, 3251]
7622                                        [740, 1436]
7629                                       [3197, 4952]
7631                                 [3197, 4952, 4953]
7646                                        [880, 3549]

[1147 rows x 1 columns]

In [ ]:
train_data = all_data.set_index('id')

# train_data.head()
# train_data
train_data = train_data.transpose()
train_data.update(train_data_edited.transpose())
train_data = train_data.transpose()
train_data

                               links
id
0                          [0, 1, 2]
1                       [3, 4, 5, 6]
2                      [7, 8, 9, 10]
3                         [7, 9, 10]
4                         [7, 9, 10]
...                              ...
7645  [799, 800, 801, 803, 804, 805]
7646                     [880, 3549]
7647         [1425, 782, 1428, 1427]
7648              [2386, 2175, 2387]
7649               [2318, 712, 2319]

[7650 rows x 1 columns]

In [ ]:
line_counter = 0
with open(DENSE_TRAIN_FILEPATH, 'w') as train_doc:
  for index, info in train_data.iterrows():
    textLine = ""
    # append Q_ID as row ID --> this is the 'user id' for LightGCN
    textLine += str(index)
    L_ids = info.get('links')
    # lookup IDs in dictionary
    # L_id_nums = []
    # if not np.any(pd.isnull(L_ids)):
    #   L_id_nums = [link_dict[l] for l in L_ids]
    # textLine += ' '
    L_id_string = ' '.join([str(i) for i in L_ids])
    if L_id_string:
      textLine += ' ' + L_id_string
    textLine += '\n'
    train_doc.write(textLine)
    # textLine
    line_counter += 1
    row = pd.DataFrame([info.get('id'), L_id_nums])


print("Wrote ", line_counter, " lines to ", DENSE_TRAIN_FILEPATH)

Wrote  7650  lines to  /content/mnt/Shareddrives/247 Project/data/2008-08_to_10/gcn_formatted_train_dense_2008-08_to_10.txt

# Clustered Data Formatting

In [ ]:
K = str(1000)
target = '2008-08'
DATAPATH = '/content/mnt/Shareddrives/247 Project/data'
CLUSTERED_PKL_FILEPATH = DATAPATH+'/{}_clustered_{}.pkl'.format(target,K)
CLUSTERED_ALL_FILEPATH = DATAPATH+'/gcn_formatted_all_dense_clustered_{}_{}.txt'.format(K,target)
CLUSTERED_TRAIN_FILEPATH = DATAPATH+'/gcn_formatted_train_dense_clustered_{}_{}.txt'.format(K,target)
CLUSTERED_TEST_FILEPATH = DATAPATH+'/gcn_formatted_test_dense_clustered_{}_{}.txt'.format(K,target)

In [ ]:
with open(CLUSTERED_PKL_FILEPATH, 'rb') as f:
  data = pickle.load(f)

data

,Q,skimed_pl,embedding,cluster
0,1 0 0 direct rendering yes single head configu...,"[code.google.com, abclinuxu.cz, boxee.tv]","[0.0018040149, -0.00087909284, 0.04002679, 0.0...",206
1,1 000 000 against the new facebook layout peti...,"[accelerateresults.com, www.buildingtheadaptiv...","[-0.02333707, -0.0138417855, 0.040104833, 0.01...",993
2,1 200 more employees right now than they need ...,"[commercialappeal.com, urbanplanet.org, nissan...","[0.006087566, -0.00313511, 0.060455736, 0.0307...",95
3,1 200 more employees right now than they need ...,"[commercialappeal.com, nissannews.com, nashvil...","[-0.024143988, 0.00200849, 0.061202478, 0.0239...",46
4,1 200 more employees right now than they need ...,"[commercialappeal.com, nissannews.com, nashvil...","[-0.03216694, -0.013331371, 0.040685937, 0.019...",25
...,...,...,...,...
7645,zunehmende spaltung zwischen arm und reich pol...,"[linkarena.com, yahoo.com, oneview.de, stern.d...","[0.003925957, -0.002547188, 0.040038142, 0.009...",778
7646,zur abgrenzung der festlandsockel in der arktis,"[sueddeutsche.de, bundestag.de, blog.de]","[-0.024610149, 0.012263725, 0.044636637, 0.000...",292
7647,zwei superstars ganz pers nlich ganz pers nlic...,"[bigpoint.focus.de, partnersuche.focus.de, wei...","[-0.017005337, -0.015673624, 0.037364457, 0.02...",87
7648,zwischen pest und cholera sonst werden wir sch...,"[fidelity.de, net-news-global.de, v.ppms.popul...","[-0.024559233, -0.006791272, 0.036644284, 0.01...",174
7649,zyski si prywatyzuje a straty nacjonalizuje,"[gospodarka.gazeta.pl, wyborcza.pl, tematy-gos...","[-0.0018295816, -0.024378479, 0.02283167, -0.0...",180

In [ ]:
data = data.groupby('cluster')

data = data.agg({'skimed_pl': 'sum'})
print(data)

# data = data.apply(np.unique, axis=1)
# data = data.apply(np.squeeze)

# data = pd.DataFrame(data)
# data.columns = ['skimed_pl']
# data['skimed_pl'] = data['skimed_pl'][0]

# remove duplicate domains
data_no_dup = pd.DataFrame({'skimed_pl':[]})
for cluster_id, domains in data.iterrows():
    domain_list = domains['skimed_pl']
    current = {'skimed_pl':list(set(domain_list))}
    data_no_dup = data_no_dup.append(current, ignore_index=True)

data_no_dup.index.names = ['cluster']
data = data_no_dup

                                                 skimed_pl
cluster
0        [premium.fileden.com, amazon.co.uk, acidted.bl...
1        [thehill.com, abcnews.go.com, money.cnn.com, m...
2        [hattscrib.com, i36.tinypic.com, www.hattscrib...
3        [techcrunch.com, dailymashup.com, daniweb.com,...
4        [digitimes.com, news, shacknews.com, techon.ni...
...                                                    ...
995      [audreycuisine.canalblog.com, valmi33.canalblo...
996      [charlotteobserver.com, statesman.com, startri...
997      [yahoo.com, www.emofag14@hotmail.com, www.katz...
998      [papers.ssrn.com, thestreet.com, gatewaypundit...
999      [edgeofthewest.wordpress.com, larryferlazzo.ed...

[1000 rows x 1 columns]

In [ ]:
# checking for duplicates
for p in data['skimed_pl']:
    if len(set(p)) != len(p):
        print(len(set(p)), len(p))

In [ ]:
all_cluster_ids = pd.DataFrame(data.index)

all_links = pd.DataFrame(data['skimed_pl'])
all_links.index = range(int(K))
all_links.columns = ['links']
print(all_cluster_ids.shape)
print(all_links)

(1000, 1)
                                                 links
0    [acidted.blogspot.com, amazon.co.uk, premium.f...
1    [blinklist.com, p3.focus.de, en.wikipedia.org,...
2    [zeusnews.com, favorites.live.com, www.allpoet...
3    [britannica.com, propertybytes.indiaproperty.c...
4    [shacknews.com, digitimes.com, techspot.com, t...
..                                                 ...
995  [valmi33.canalblog.com, cuisinemetisse.canalbl...
996  [statesman.com, crainsnewyork.com, charlotteob...
997  [www.emofag14@hotmail.com, yahoo.com, www.katz...
998  [googleblog.blogspot.com, www.americablog.com,...
999  [edgeofthewest.wordpress.com, blogcarnival.com...

[1000 rows x 1 columns]

In [ ]:
link_dict = {}
index_counter = 0

for p in all_links['links']:
  for i in p:
    if i not in link_dict:
      link_dict[i] = index_counter
      index_counter += 1

## All data

In [ ]:
clustered_data = pd.DataFrame()
line_counter = 0
with open(CLUSTERED_ALL_FILEPATH, 'w') as clustered_doc:
  for index, info in data.iterrows():
    textLine = ""
    # append Q_ID as row ID --> this is the 'user id' for LightGCN
    textLine += str(index)
    L_ids = info.get('skimed_pl')
    # print(info)
    # print(L_ids)
    # print(link_dict[L_ids[0]])
    # lookup IDs in dictionary
    L_id_nums = []
    if not np.any(pd.isnull(L_ids)):
      L_id_nums = [link_dict[l] for l in L_ids]
    # textLine += ' '
    L_id_string = ' '.join([str(i) for i in L_id_nums])
    if L_id_string:
      textLine += ' ' + L_id_string
    textLine += '\n'
    clustered_doc.write(textLine)
    # textLine
    row = pd.DataFrame([index, L_id_nums])
    clustered_data = pd.concat([clustered_data, row], axis=1)
    line_counter += 1

clustered_data = clustered_data.transpose()
print("Wrote ", line_counter, " lines to gcn_formatted_all_dense_clustered_{}_{}.txt".format(K,target))

clustered_data

Wrote  1000  lines to gcn_formatted_all_dense_clustered_1000_2008-08_to_10.txt

      0                                                  1
0     0                                          [0, 1, 2]
0     1  [3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, ...
0     2  [307, 308, 309, 310, 311, 312, 234, 313, 11, 3...
0     3  [346, 347, 348, 349, 350, 351, 352, 353, 354, ...
0     4                          [384, 385, 386, 387, 388]
..  ...                                                ...
0   995         [5000, 5001, 1949, 5002, 2739, 1904, 5003]
0   996                           [2257, 2888, 4950, 1444]
0   997                                  [2060, 559, 4886]
0   998  [2593, 788, 702, 393, 792, 5, 2489, 2836, 3938...
0   999                           [3556, 2875, 4288, 4415]

[1000 rows x 2 columns]

## Test data

In [ ]:
# train / test data split

# logic: pick random proportion of all data as test data, pick random proportion of links to use as test data
# keep test data meme and rest of links in train
np.random.seed(0)
test_data_proportion = .15
test_data_amount = int(len(clustered_data) * test_data_proportion)
test_data_indices = np.random.choice(clustered_data[0], size=test_data_amount, replace=False)
test_data_indices = np.sort(test_data_indices)

print("Test data size: ", test_data_amount)
print("Indices: ", test_data_indices)

Test data size:  150
Indices:  [1 8 14 27 31 34 45 54 55 60 65 77 97 101 103 108 122 141 142 175 196 202
 214 230 231 236 239 247 249 251 252 255 261 262 264 267 270 272 278 279
 283 295 298 299 306 310 311 312 316 317 319 331 366 367 372 382 384 385
 386 389 395 408 412 413 424 432 452 456 466 481 485 489 494 495 496 497
 501 513 520 523 529 531 545 553 558 568 569 576 578 582 583 587 596 601
 608 614 615 624 630 635 636 638 643 644 654 666 672 693 698 706 710 713
 736 738 740 753 760 780 783 784 785 788 789 790 796 819 823 844 859 862
 873 874 876 883 902 904 906 909 918 923 926 939 946 957 958 971 982 987
 993 996]

In [ ]:
test_df = pd.DataFrame()
for i in test_data_indices:
  links = all_links['links'][i]
  n_links = len(links)
  test_links = np.random.choice(links, size = (n_links // 3), replace=False)
  row = pd.DataFrame([i, test_links])
  test_df = pd.concat([test_df, row], axis=1)
  
test_df = test_df.transpose()
test_df.columns = ['id', 'links']

test_df

     id                                              links
0     1  [strangehorizons.com, euroadhoc.com, www.seatw...
0     8  [mweb.co.za, maps.google.com, lantic.co.za, gm...
0    14                                       [nypost.com]
0    27  [img.qj.net, rebelion.org, evolvehappy.com, bi...
0    31                                  [xatakamovil.com]
..  ...                                                ...
0   971                                      [myspace.com]
0   982                                [master.clubic.com]
0   987                                     [jumptags.com]
0   993  [io9.com, istockanalyst.com, film.com, mcclatc...
0   996                            [charlotteobserver.com]

[150 rows x 2 columns]

In [ ]:
line_counter = 0
test_data_df = pd.DataFrame()
with open(CLUSTERED_TEST_FILEPATH, 'w') as test_doc:
  for index, info in test_df.iterrows():
    textLine = ""
    # append Q_ID as row ID --> this is the 'user id' for LightGCN
    textLine += str(info.get('id'))

    L_ids = info.get('links')
    # lookup IDs in dictionary
    L_id_nums = []
    if not np.any(pd.isnull(L_ids)):
      L_id_nums = [link_dict[l] for l in L_ids]
    # textLine += ' '
    L_id_string = ' '.join([str(i) for i in L_id_nums])
    if L_id_string:
      textLine += ' ' + L_id_string
    textLine += '\n'
    test_doc.write(textLine)
    # textLine
    line_counter += 1
    row = pd.DataFrame([info.get('id'), L_id_nums])
    test_data_df = pd.concat([test_data_df, row], axis=1)


print("Wrote ", line_counter, " lines to gcn_formatted_test_dense_clustered_{}_{}.txt".format(K,target))
test_data_df = test_data_df.transpose()
test_data_df
# print("Wrote ", line_counter / 10, " lines to gcn_formatted_test_dense.tx

Wrote  150  lines to gcn_formatted_test_dense_clustered_1000_2008-08_to_10.txt

      0                                                  1
0     1  [115, 48, 26, 8, 25, 228, 34, 293, 179, 69, 92...
0     8                     [686, 699, 697, 693, 245, 694]
0    14                                              [238]
0    27  [13, 1628, 1615, 2014, 2056, 155, 79, 978, 198...
0    31                                             [2131]
..  ...                                                ...
0   971                                             [1805]
0   982                                              [802]
0   987                                             [3672]
0   993  [1721, 2431, 2935, 2879, 607, 2243, 3165, 5080...
0   996                                             [4950]

[150 rows x 2 columns]

## Train data

In [ ]:
# cross check with rest of data, and remove the links that have been used for test data

clustered_data.columns = ['id', 'links']

_, links = test_data_df.items()
_, link_arr = links

train_data_edited = pd.DataFrame()

for _, r in test_data_df.iterrows():
  # 0 -- index, 1 -- link array
  test_links = r[1]
  row_to_edit = clustered_data[(clustered_data['id'] == r[0])]
  all_links = row_to_edit['links'][0]
  train_links = np.setdiff1d(all_links, test_links)
  if (len(train_links) == 0):
    print("INSIDE IF STATEMENT")
    train_links = test_links
    print(train_links)
  # print("row to edit: ", row_to_edit, " r: ", r[1])
  # print(train_links)
  train_row = pd.DataFrame([r[0], train_links])
  train_data_edited = pd.concat([train_data_edited, train_row], axis=1)

train_data_edited = train_data_edited.transpose()
train_data_edited.columns = ['id', 'links']
train_data_edited = train_data_edited.set_index('id')
print(train_data_edited)

                                                 links
id
1    [3, 6, 10, 11, 13, 14, 15, 16, 18, 19, 20, 23,...
8    [29, 685, 687, 688, 689, 690, 691, 692, 695, 6...
14                            [1181, 1182, 1183, 1184]
27   [4, 5, 29, 35, 63, 88, 101, 131, 139, 174, 202...
31                                        [2129, 2130]
..                                                 ...
971                              [83, 622, 1990, 3642]
982                            [840, 3022, 3032, 3618]
987                            [226, 1767, 3333, 3377]
993  [3, 6, 8, 14, 16, 24, 29, 31, 32, 34, 37, 38, ...
996                                 [1444, 2257, 2888]

[150 rows x 1 columns]

In [ ]:
train_data = clustered_data.set_index('id')

# train_data.head()
# train_data
train_data = train_data.transpose()
train_data.update(train_data_edited.transpose())
train_data = train_data.transpose()
train_data

                                                 links
id
0                                            [0, 1, 2]
1    [3, 6, 10, 11, 13, 14, 15, 16, 18, 19, 20, 23,...
2    [307, 308, 309, 310, 311, 312, 234, 313, 11, 3...
3    [346, 347, 348, 349, 350, 351, 352, 353, 354, ...
4                            [384, 385, 386, 387, 388]
..                                                 ...
995         [5000, 5001, 1949, 5002, 2739, 1904, 5003]
996                                 [1444, 2257, 2888]
997                                  [2060, 559, 4886]
998  [2593, 788, 702, 393, 792, 5, 2489, 2836, 3938...
999                           [3556, 2875, 4288, 4415]

[1000 rows x 1 columns]

In [ ]:
line_counter = 0
with open(CLUSTERED_TRAIN_FILEPATH, 'w') as train_doc:
  for index, info in train_data.iterrows():
    textLine = ""
    # append Q_ID as row ID --> this is the 'user id' for LightGCN
    textLine += str(index)
    L_ids = info.get('links')
    # print(L_ids)
    # lookup IDs in dictionary
    # L_id_nums = []
    # if not np.any(pd.isnull(L_ids)):
    #   L_id_nums = [link_dict[l] for l in L_ids]
    # textLine += ' '
    L_id_string = ' '.join([str(i) for i in L_ids])
    if L_id_string:
      textLine += ' ' + L_id_string
    textLine += '\n'
    train_doc.write(textLine)
    # textLine
    line_counter += 1
    # row = pd.DataFrame([info.get('id'), L_id_nums])


print("Wrote ", line_counter, " lines to gcn_formatted_train_dense_clustered_{}_{}.txt".format(K,target))

Wrote  1000  lines to gcn_formatted_train_dense_clustered_1000_2008-08_to_10.txt